body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav {
    height: 50px;
    background-color: darkred;
}

.navItem  {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
}

.left {
    height: 600px;
    float: left;
    background-color: white;
    width: 29%;
    float: left;
    border-right: 1px solid lightgray;
  }

  .leftTop{
      margin: 15px;
      text-align: center;
      border-bottom: 1px solid lightgray;
      color: darkred;
      font-weight: bold;
      font-size: x-large;
  }

  li {
      list-style-type: none;
      line-height: 24px;
  }
  .rocky {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }